<div class="container-fluid fill">
	<div class="row fill">
		<div class="col-md-6 col-md-offset-3 vertical-center fill text-center">
			<div class="container-fluid">
				<h1 style="font-size: 500%;">What's your name?</h1>
				<br>
				<%= form_tag get_name_path, method: "post" do %>
					<div class="form-group">
						<%= text_field_tag :name, nil, class: "form-control" %>
					</div>
				<% end %>
				<% if params[:prediction] && params[:prediction] == "male" %>
					<%= render 'male' %>
				<% elsif params[:prediction] == "female" %>
					<%= render 'female' %>
				<% end %>
			</div>
		</div>
	</div>
</div>